<nav class="navbar navbar-color-on-scroll navbar-transparent fixed-top  navbar-expand-lg " color-on-scroll="100" id="sectionsNav">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" href="#">
                <i class="material-icons">account_circle</i> Mohammad Irfan</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
      </button>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="dropdown nav-item">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                        <i class="material-icons">apps</i> Components
                    </a>
                    <div class="dropdown-menu dropdown-with-icons">
                        <ng-container *ngFor="let metadata of menuMetadata; let i=index">
                            <a routerLink="{{metadata.route}}" class="dropdown-item" *ngIf="metadata.show">
                                <i class="material-icons">{{metadata.icon}}</i> {{metadata.title}}
                            </a>
                        </ng-container>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="javascript:void(0)" target="_blank" data-original-title="Follow us on Twitter">
                        <i class="fa fa-twitter"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="javascript:void(0)" target="_blank" data-original-title="Like us on Facebook">
                        <i class="fa fa-facebook-square"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="javascript:void(0)" target="_blank" data-original-title="Follow us on Instagram">
                        <i class="fa fa-instagram"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>


<footer class="footer ">
    <div class="container">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="javascript:void(0)">
            Mohammad Irfan
          </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
            About Us
          </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
            Blog
          </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
            Licenses
          </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            <script>
                document.write(new Date().getFullYear())
            </script>, made with
            <i class="material-icons">favorite</i> by
            <a href="javascript:void(0)" target="_blank">Mohammad Irfan</a> for a better web.
        </div>
    </div>
</footer>